.footerContainer {
    background: rgba(52, 70, 69, 0.6); 
    color: white;
    font-size: 1.2em;
    padding: 10px 10px 30px 10px;
    text-align: center;
    margin: 70px 0 0 0;
}

.footerContainer p {
    margin: 5px 0 10px 0;
}

.imageCopyright a {
    font-size: 0.8em;
    color: white;
    text-decoration: none;
}
.imageCopyright a:hover {
    text-decoration: underline;
}