@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

button {
  /* background: rgb(194,192,192);
  background: linear-gradient(90deg, rgba(194,192,192,1) 0%, rgba(216,239,240,1) 26%, rgba(185,215,215,1) 53%, rgba(216,239,240,1) 79%, rgba(194,192,192,1) 100%);
  */
  /* background: white url(../images/buttonBg2.jpg) no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: rgb(253,183,183);
  background: linear-gradient(90deg, rgba(253,183,183,1) 0%, rgba(251,210,210,1) 48%, rgba(194,192,192,1) 100%);
  /* background: url(../images/unicorn.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: 100%;
  padding: 10px 30px;
  border: white solid 3px;
  border-radius: 10px;
  color: white;
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 15px;
  cursor: pointer;
}


/* button animaatio random */ 
@keyframes example {
    0% {
      -ms-transform: rotate(10deg); /* IE 9 */
      -webkit-transform: rotate(10deg); /* Safari prior 9.0 */
      transform: rotate(10deg); /* Standard syntax */
    }
    25% {
      -ms-transform: rotate(-10deg); /* IE 9 */
      -webkit-transform: rotate(-10deg); /* Safari prior 9.0 */
      transform: rotate(-10deg); /* Standard syntax */
    }
    50% {
        -ms-transform: rotate(10deg); /* IE 9 */
        -webkit-transform: rotate(10deg); /* Safari prior 9.0 */
        transform: rotate(10deg); /* Standard syntax */
      }
    75% {
        -ms-transform: rotate(-10deg); /* IE 9 */
        -webkit-transform: rotate(-10deg); /* Safari prior 9.0 */
        transform: rotate(-10deg); /* Standard syntax */
      }
    100% {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari prior 9.0 */
        transform: rotate(0deg); /* Standard syntax */
    }
  }

  .random:hover {
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
    animation-name: example;
    animation-duration: 1s;
  }