.App {
  text-align: center;
}

a {
  color: #5c9896;
}

a:hover {
  color: #a66263;
  cursor: pointer;
  text-decoration: underline;
}

.searchLink {
  margin-top: 8px;
  font-size: 1.1em;
}

.link {
  color: #5c9896;
  background: none;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.link:hover {
  color: #a66263;
  cursor: pointer;
  text-decoration: underline;
}
