@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

html { 
  background: url(images/bg3.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}


